body {
    position: relative;
    width: 1000px;
    height: auto;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    font: 16px/24px Arial, sans-serif;
    background-color: white;
    color: black;
}


.h1 {
    font-family: 'Work Sans', 'Times New Roman', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 22px;
    text-align: center;
    color: #013A4C;
}

.calc {
    margin: 10px 0 0 10px;
    padding: 10px 0 0 10px;
    width: 30%;
    height: 250px;
    background-color: rgb(184, 244, 244);
    border: 1px solid black;

}

.action {
    cursor: pointer;
    width: 100px;
    height: 20px;
    background: #ebdbf6;
    border: 1px solid #d28ff6;
    border-radius: 4px;
    margin-top: 10px;
    margin-left: 30px;
}
#result
{
    cursor: pointer;
    width: 100px;
    height: 25px;
    background: #e2c1fa;
    border: 1px solid #d28ff6;
    border-radius: 4px;
    margin-top: 10px;
    text-align: center;
    margin-left: 90px;
}
